In [5]:
import pandas as pd

In [6]:
df=pd.read_csv("C:/Users/Lenovo/Desktop/kaggle/Churn_Modelling.csv")

In [58]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [116]:
Y=df.iloc[:,13]
X=df.iloc[:,3:13]

In [117]:
geography=pd.get_dummies(X["Geography"],drop_first=True)
gender=pd.get_dummies(X["Gender"],drop_first=True)

In [118]:
gender

      Male
0        0
1        0
2        0
3        0
4        0
...    ...
9995     1
9996     1
9997     0
9998     1
9999     0

[10000 rows x 1 columns]

In [119]:
X=pd.concat([X,geography,gender],axis=1)
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,France,Female,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0,0,1
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0,0,0

In [120]:
X=X.drop(["Geography","Gender"],axis=1)

In [121]:
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0

In [122]:
from sklearn.model_selection import train_test_split

In [123]:
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=0)

Feature Scaling

In [124]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_test= sc.fit_transform(X_test)
X_train= sc.transform(X_train)

In [125]:
X.shape

(10000, 11)

In [126]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU,PReLU,ELU
from keras.layers import Dropout

In [129]:
classifier=Sequential()

In [130]:
classifier.add(Dense( 6,kernel_initializer = 'he_uniform',activation='relu',input_dim = 11))
classifier.add(Dense( 6,kernel_initializer = 'he_uniform',activation='relu'))
classifier.add(Dense( 1,kernel_initializer = 'glorot_uniform',activation='sigmoid'))

In [131]:
classifier.summary()

Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_12 (Dense)             (None, 6)                 72
_________________________________________________________________
dense_13 (Dense)             (None, 6)                 42
_________________________________________________________________
dense_14 (Dense)             (None, 1)                 7
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

In [132]:
classifier.compile(optimizer = 'Adamax', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [134]:
model=classifier.fit(X_train, y_train,validation_split=0.33, batch_size = 5, epochs = 100)

Epoch 1/100
1072/1072 [==============================] - 1s 912us/step - loss: 0.3327 - accuracy: 0.8632 - val_loss: 0.3600 - val_accuracy: 0.8508
Epoch 2/100
1072/1072 [==============================] - 1s 884us/step - loss: 0.3325 - accuracy: 0.8634 - val_loss: 0.3596 - val_accuracy: 0.8508
Epoch 3/100
1072/1072 [==============================] - 1s 1ms/step - loss: 0.3324 - accuracy: 0.8632 - val_loss: 0.3600 - val_accuracy: 0.8523
Epoch 4/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3322 - accuracy: 0.8625 - val_loss: 0.3596 - val_accuracy: 0.8508
Epoch 5/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3321 - accuracy: 0.8610 - val_loss: 0.3595 - val_accuracy: 0.8523
Epoch 6/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3320 - accuracy: 0.8632 - val_loss: 0.3595 - val_accuracy: 0.8516
Epoch 7/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3318 - accuracy: 0.8630 - val_loss: 0.3594 - val_accuracy: 0.8519
Epoch 8/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3315 - accuracy: 0.8630 - val_loss: 0.3598 - val_accuracy: 0.8538
Epoch 9/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3318 - accuracy: 0.8621 - val_loss: 0.3584 - val_accuracy: 0.8527
Epoch 10/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3315 - accuracy: 0.8625 - val_loss: 0.3584 - val_accuracy: 0.8538
Epoch 11/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3314 - accuracy: 0.8608 - val_loss: 0.3580 - val_accuracy: 0.8538
Epoch 12/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3312 - accuracy: 0.8627 - val_loss: 0.3577 - val_accuracy: 0.8546
Epoch 13/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3312 - accuracy: 0.8630 - val_loss: 0.3581 - val_accuracy: 0.8538
Epoch 14/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3310 - accuracy: 0.8619 - val_loss: 0.3581 - val_accuracy: 0.8523
Epoch 15/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3310 - accuracy: 0.8621 - val_loss: 0.3578 - val_accuracy: 0.8531
Epoch 16/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3311 - accuracy: 0.8628 - val_loss: 0.3576 - val_accuracy: 0.8523
Epoch 17/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3308 - accuracy: 0.8621 - val_loss: 0.3581 - val_accuracy: 0.8535
Epoch 18/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3308 - accuracy: 0.8612 - val_loss: 0.3578 - val_accuracy: 0.8538
Epoch 19/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3308 - accuracy: 0.8619 - val_loss: 0.3578 - val_accuracy: 0.8527
Epoch 20/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3306 - accuracy: 0.8621 - val_loss: 0.3571 - val_accuracy: 0.8535
Epoch 21/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3305 - accuracy: 0.8615 - val_loss: 0.3575 - val_accuracy: 0.8531
Epoch 22/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3303 - accuracy: 0.8621 - val_loss: 0.3569 - val_accuracy: 0.8542
Epoch 23/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3303 - accuracy: 0.8638 - val_loss: 0.3572 - val_accuracy: 0.8531
Epoch 24/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3301 - accuracy: 0.8614 - val_loss: 0.3565 - val_accuracy: 0.8542
Epoch 25/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3301 - accuracy: 0.8623 - val_loss: 0.3568 - val_accuracy: 0.8527
Epoch 26/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3298 - accuracy: 0.8645 - val_loss: 0.3574 - val_accuracy: 0.8531
Epoch 27/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3298 - accuracy: 0.8619 - val_loss: 0.3572 - val_accuracy: 0.8531
Epoch 28/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3297 - accuracy: 0.8623 - val_loss: 0.3564 - val_accuracy: 0.8531
Epoch 29/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3296 - accuracy: 0.8642 - val_loss: 0.3566 - val_accuracy: 0.8527
Epoch 30/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3294 - accuracy: 0.8632 - val_loss: 0.3566 - val_accuracy: 0.8542
Epoch 31/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3294 - accuracy: 0.8615 - val_loss: 0.3563 - val_accuracy: 0.8546
Epoch 32/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3293 - accuracy: 0.8630 - val_loss: 0.3562 - val_accuracy: 0.8527
Epoch 33/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3291 - accuracy: 0.8628 - val_loss: 0.3559 - val_accuracy: 0.8542
Epoch 34/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3290 - accuracy: 0.8634 - val_loss: 0.3555 - val_accuracy: 0.8550
Epoch 35/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3290 - accuracy: 0.8636 - val_loss: 0.3557 - val_accuracy: 0.8542
Epoch 36/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3289 - accuracy: 0.8632 - val_loss: 0.3556 - val_accuracy: 0.8554
Epoch 37/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3287 - accuracy: 0.8627 - val_loss: 0.3557 - val_accuracy: 0.8538
Epoch 38/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3288 - accuracy: 0.8645 - val_loss: 0.3557 - val_accuracy: 0.8535
Epoch 39/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3284 - accuracy: 0.8651 - val_loss: 0.3559 - val_accuracy: 0.8535
Epoch 40/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3285 - accuracy: 0.8615 - val_loss: 0.3548 - val_accuracy: 0.8554
Epoch 41/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3283 - accuracy: 0.8628 - val_loss: 0.3549 - val_accuracy: 0.8554
Epoch 42/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3284 - accuracy: 0.8651 - val_loss: 0.3547 - val_accuracy: 0.8565
Epoch 43/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3282 - accuracy: 0.8632 - val_loss: 0.3549 - val_accuracy: 0.8565
Epoch 44/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3281 - accuracy: 0.8638 - val_loss: 0.3549 - val_accuracy: 0.8557
Epoch 45/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3281 - accuracy: 0.8640 - val_loss: 0.3549 - val_accuracy: 0.8557
Epoch 46/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3280 - accuracy: 0.8642 - val_loss: 0.3545 - val_accuracy: 0.8573
Epoch 47/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3277 - accuracy: 0.8638 - val_loss: 0.3552 - val_accuracy: 0.8546
Epoch 48/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3280 - accuracy: 0.8649 - val_loss: 0.3545 - val_accuracy: 0.8580
Epoch 49/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3277 - accuracy: 0.8647 - val_loss: 0.3546 - val_accuracy: 0.8561
Epoch 50/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3276 - accuracy: 0.8645 - val_loss: 0.3548 - val_accuracy: 0.8573
Epoch 51/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3275 - accuracy: 0.8640 - val_loss: 0.3545 - val_accuracy: 0.8576
Epoch 52/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3275 - accuracy: 0.8634 - val_loss: 0.3543 - val_accuracy: 0.8591
Epoch 53/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3273 - accuracy: 0.8638 - val_loss: 0.3543 - val_accuracy: 0.8569
Epoch 54/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3274 - accuracy: 0.8643 - val_loss: 0.3542 - val_accuracy: 0.8607
Epoch 55/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3272 - accuracy: 0.8649 - val_loss: 0.3550 - val_accuracy: 0.8576
Epoch 56/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3272 - accuracy: 0.8634 - val_loss: 0.3548 - val_accuracy: 0.8584
Epoch 57/100

1072/1072 [==============================] - 2s 2ms/step - loss: 0.3271 - accuracy: 0.8628 - val_loss: 0.3546 - val_accuracy: 0.8576
Epoch 58/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3270 - accuracy: 0.8625 - val_loss: 0.3545 - val_accuracy: 0.8573
Epoch 59/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3272 - accuracy: 0.8628 - val_loss: 0.3544 - val_accuracy: 0.8595
Epoch 60/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3270 - accuracy: 0.8638 - val_loss: 0.3541 - val_accuracy: 0.8584
Epoch 61/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3269 - accuracy: 0.8627 - val_loss: 0.3543 - val_accuracy: 0.8584
Epoch 62/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3268 - accuracy: 0.8645 - val_loss: 0.3539 - val_accuracy: 0.8576
Epoch 63/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3268 - accuracy: 0.8640 - val_loss: 0.3544 - val_accuracy: 0.8580
Epoch 64/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3267 - accuracy: 0.8634 - val_loss: 0.3549 - val_accuracy: 0.8584
Epoch 65/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3269 - accuracy: 0.8632 - val_loss: 0.3544 - val_accuracy: 0.8569
Epoch 66/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3267 - accuracy: 0.8638 - val_loss: 0.3540 - val_accuracy: 0.8591
Epoch 67/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3266 - accuracy: 0.8638 - val_loss: 0.3539 - val_accuracy: 0.8584
Epoch 68/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3264 - accuracy: 0.8630 - val_loss: 0.3540 - val_accuracy: 0.8603
Epoch 69/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3266 - accuracy: 0.8623 - val_loss: 0.3536 - val_accuracy: 0.8591
Epoch 70/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3266 - accuracy: 0.8627 - val_loss: 0.3538 - val_accuracy: 0.8607
Epoch 71/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3264 - accuracy: 0.8630 - val_loss: 0.3540 - val_accuracy: 0.8595
Epoch 72/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3264 - accuracy: 0.8608 - val_loss: 0.3538 - val_accuracy: 0.8599
Epoch 73/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3265 - accuracy: 0.8628 - val_loss: 0.3539 - val_accuracy: 0.8584
Epoch 74/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3261 - accuracy: 0.8634 - val_loss: 0.3538 - val_accuracy: 0.8588
Epoch 75/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3265 - accuracy: 0.8623 - val_loss: 0.3536 - val_accuracy: 0.8603
Epoch 76/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3264 - accuracy: 0.8632 - val_loss: 0.3535 - val_accuracy: 0.8603
Epoch 77/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3261 - accuracy: 0.8632 - val_loss: 0.3540 - val_accuracy: 0.8591
Epoch 78/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3263 - accuracy: 0.8619 - val_loss: 0.3537 - val_accuracy: 0.8603
Epoch 79/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3261 - accuracy: 0.8634 - val_loss: 0.3536 - val_accuracy: 0.8607
Epoch 80/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3262 - accuracy: 0.8632 - val_loss: 0.3535 - val_accuracy: 0.8599
Epoch 81/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3261 - accuracy: 0.8628 - val_loss: 0.3538 - val_accuracy: 0.8610
Epoch 82/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3261 - accuracy: 0.8638 - val_loss: 0.3531 - val_accuracy: 0.8610
Epoch 83/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3261 - accuracy: 0.8634 - val_loss: 0.3533 - val_accuracy: 0.8603
Epoch 84/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3260 - accuracy: 0.8640 - val_loss: 0.3535 - val_accuracy: 0.8599
Epoch 85/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3259 - accuracy: 0.8634 - val_loss: 0.3532 - val_accuracy: 0.8603
Epoch 86/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3261 - accuracy: 0.8643 - val_loss: 0.3533 - val_accuracy: 0.8610
Epoch 87/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3261 - accuracy: 0.8628 - val_loss: 0.3533 - val_accuracy: 0.8610
Epoch 88/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3259 - accuracy: 0.8638 - val_loss: 0.3534 - val_accuracy: 0.8610
Epoch 89/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3258 - accuracy: 0.8636 - val_loss: 0.3532 - val_accuracy: 0.8607
Epoch 90/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3259 - accuracy: 0.8636 - val_loss: 0.3536 - val_accuracy: 0.8603
Epoch 91/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3259 - accuracy: 0.8628 - val_loss: 0.3533 - val_accuracy: 0.8607
Epoch 92/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3259 - accuracy: 0.8627 - val_loss: 0.3533 - val_accuracy: 0.8614
Epoch 93/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3257 - accuracy: 0.8630 - val_loss: 0.3532 - val_accuracy: 0.8599
Epoch 94/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3257 - accuracy: 0.8625 - val_loss: 0.3533 - val_accuracy: 0.8614
Epoch 95/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3257 - accuracy: 0.8638 - val_loss: 0.3532 - val_accuracy: 0.8610
Epoch 96/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3257 - accuracy: 0.8642 - val_loss: 0.3532 - val_accuracy: 0.8610
Epoch 97/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3256 - accuracy: 0.8632 - val_loss: 0.3530 - val_accuracy: 0.8610
Epoch 98/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3257 - accuracy: 0.8640 - val_loss: 0.3533 - val_accuracy: 0.8610
Epoch 99/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3255 - accuracy: 0.8630 - val_loss: 0.3539 - val_accuracy: 0.8595
Epoch 100/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.3256 - accuracy: 0.8647 - val_loss: 0.3530 - val_accuracy: 0.8618

In [143]:
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

In [144]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

# Calculate the Accuracy
from sklearn.metrics import accuracy_score
score=accuracy_score(y_pred,y_test)

In [146]:
score

0.8615